<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>About myself </title>
    </head>
    <link rel="stylesheet" href="/public/styles/style.css">
      <!--css ma space hudaina ""-- use garne-->
         <body>
            <nav class="nav" >
                <ul class="nav" >
                    <li> <a href="../index.html">Home</a></li>
                    <li><a href="#">About me</a></li>
                    <li><a href="Resume.html">Resume</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <div>
                    Logo
                </div>

                <div>
                    <button class="down-btn"> Resume download</button>
                </div>
            </nav>
                
                <div class="container">
                   
                   <center> <img class="profile-img" src="../public/images/ava.jpeg " alt="Pratik">
                    <h3>Pratik Shrestha</h3>
                    <h3>I am <span class="span1"> a student</h3></span>
                   </center>
                    <p>Welcome to my homepage! My name is Pratik Shrestha and I'm passionate about football. I love and enjoy playing and waching football. This website is a space for me to share my thoughts, experiences, and projects. Feel free to explore and get to know me better!</p>
                    <p>Follow me on social media:</p>
                    <ul class="social">
                        <li ><a class="contact" href="https://twitter.com/">facebook</a></li>
                        <li ><a class="contact" href="https://www.instagram.com/">Instagram</a></li>
                        <li ><a class="contact" href="https://www.linkedin.com/in/yourusername">LinkedIn</a></li>
                    </ul>
                </div>
                                <hr>
                <center>
                <h1 class="about ">About  <span class="spa">Me</h1></span>
                </center>
                <div>
                <h2>Personal info </h2>
                <h4>Full Name : Pratik Shrestha</h4>
                <h4>Nationality : Nepalese</h4>
                <h4>Phone N.o : 9808011969</h4>
                <h4>Age :</h4>
                <h4>Address :</h4>
                <h4>Language :</h4>
                </div>
         </body>
</html>