<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>About my self </title>
    </head>
         <body>
            <nav>
                <ul>
                    <li> <a href="../MYportfolio.html">Home</a></li>
                    <li><a href="">About me</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div>
                    Logo
                </div>/

                <div>
                    <button> Resume download</button>
                </div>
            </nav>
                 <h1>About me</h1>
                 <p>My name is Pratik Shrestha . I am 17 years old. Currently I am studying at grade 11 at +2 level. I am  studying Computer Science from Management faculty
                 I love to play football . My favourite player name is Lionel Messi . He is from Argentina . 
                 </p>
        </body>
</html>